<div class="row">
  <div class="col-md-6">
    <h3>June 6</h3>
    <table class="table table-striped">
      <tr> <td>14:00</td>  <td>Technical check-in</td> </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>June 7</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Programming with Python</a></td> </tr>
      <tr> <td>09:15</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/01-intro/index.html">Python Fundamentals</a></td> </tr>
      <tr> <td>09:45</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/02-numpy/index.html">Analyzing Patient Data</a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:40</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/03-matplotlib/index.html">Visualizing Tabular Data</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/04-lists/index.html">Storing Multiple Values in Lists</a></td> </tr>
      <tr> <td>13:50</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/05-loop/index.html">Repeating Actions with Loops</a></td> </tr>
      <tr> <td>14:35</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/06-files/index.html">Analyzing Data from Multiple Files</a></td> </tr>
      <tr> <td>15:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>June 8</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Programming with Python (continued)</a></td> </tr>
      <tr> <td>09:15</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/07-cond/index.html">Making Choices</a></td> </tr>
      <tr> <td>10:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/08-func/index.html">Creating Functions</a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:40</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/09-errors/index.html">Errors and Exceptions</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/11-debugging/index.html">Debugging</a></td> </tr>
      <tr> <td>13:50</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/12-cmdline/index.html">Command-Line Programs</a></td> </tr>
      <tr> <td>15:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>June 13</h3>
    <table class="table table-striped">
      <tr> <td>14:00</td>  <td>Technical check-in</td> </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>June 14</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://datacarpentry.org/python-ecology-lesson/">Data Analysis and Visualization in Python</a></td> </tr>
      <tr> <td>09:15</td>  <td><a href="https://datacarpentry.org/python-ecology-lesson/01-short-introduction-to-Python/index.html">Short Introduction to Programming in Python</a></td> </tr>
      <tr> <td>09:30</td>  <td><a href="https://datacarpentry.org/python-ecology-lesson/02-starting-with-data/index.html">Starting With Data</a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:40</td>  <td><a href="https://datacarpentry.org/python-ecology-lesson/03-index-slice-subset/index.html">Indexing, Slicing and Subsetting DataFrames in Python</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://datacarpentry.org/python-ecology-lesson/04-data-types-and-format/index.html">Data Types and Formats</a></td> </tr>
      <tr> <td>13:50</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:00</td>  <td><a href="https://datacarpentry.org/python-ecology-lesson/05-merging-data/index.html">Combining DataFrames with Pandas</a></td> </tr>
      <tr> <td>15:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>June 15</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://datacarpentry.org/python-ecology-lesson/">Data Analysis and Visualization in Python (continued)</a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:40</td>  <td>Data Analysis and Visualization in Python (Continued)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Data Analysis and Visualization in Python (Continued)</td> </tr>
      <tr> <td>13:50</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:00</td>  <td>Data Analysis and Visualization in Python (Continued)</td> </tr>
      <tr> <td>14:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>14:40</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>15:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
